.header_bar {
    background-color: #1f2937;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f9faf8;

}

.info {
    font-size: 36px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
